@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/13debb153828720a4378a671f57b0d72?family=NotoKR-Medium+Medium");
@import url("https://db.onlinewebfonts.com/c/8d989ff4b83af705559067c0fc83d131?family=NotoKR-DemiLight+DemiLight");

body {
  background-color: black;
  /* background-color: white; */
}

button {
  border: none;
}

.container {
  width: 1280px;
}
.hidden {
  display: none;
}

.vjs-overlay {
  position: absolute;
  top: 1%;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: rgba(169, 169, 169, 0.6);
  padding: 10px;
  border-radius: 20px;
}

.vjs-overlay:hover {
  background-color: rgba(179, 179, 179, 0.8);
  font-size: 13px;
}

.nav-link {
  font-family: "NotoKR-Medium Medium";
  color: white;
}

.left-nav {
  margin-top: 2px;
  font-size: 18px;
  box-sizing: border-box;
}

.left-nav:hover {
  color: black;
  background-color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown {
  width: 68px;
}

.dropdown-menu {
  font-family: "NotoKR-Medium Medium";
  width: 68px;
}

.right-nav {
  font-size: 12px;
}

.right-nav-border {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.right-nav:hover {
  color: white;
}

.video-js {
  width: 1218px;
  height: 685.125px;
  /* width: 1280px;
  height: 720px; */
}

.adListHeader {
  /* padding-bottom: 2px; */
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.adListItem {
  margin-bottom: 5px;
}

.adListText {
  font-size: 12px;
}

.adListImageDiv {
  cursor: pointer;
  margin: 3px 0;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}

.adListImage {
  width: 100%;
  transition: all 0.5s ease-out;
}

.adListImage:hover {
  transform: scale(1.1);
}

#wrap {
  min-width: 1340px;
}

#header {
  background: url("../img/nav-bg-black.png");
  height: 88px;
  padding-top: 13px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

#searchImage {
  margin-left: 10px;
}

/* 16:9 비율을 유지하기 위한 높이 설정 */
#player {
  padding-top: 10px;
  height: 685.125px;
}

#ad {
  height: 100%;
  color: black;
  background-color: rgba(180, 180, 180, 0.8);
  border-radius: 10px;
  font-family: "NotoKR-Medium Medium";
  overflow: scroll;
}

#ad::-webkit-scrollbar {
  display: none;
}

#toggleDiv {
  border-bottom: 1px solid;
  margin-bottom: 3px;
}

#adTitle {
  font-weight: bold;
  padding-right: 67px;
  margin-top: 30px;
  font-size: 24px;
  display: inline;
}

#toggleBtn:after {
  display: inline;
  font-size: 20px;
  content: "\00d7";
}

#adTitle-sub {
  font-size: 13px;
}

#adList {
  padding-top: 10px;
}

#vodInfo {
  padding-top: 33px;
}

#ch-title {
  /* display: inline-block; */
  line-height: 20px;
  padding-left: 26px;
  overflow: hidden;
  color: #ced4da;
  font-size: 17px;
  background: url("../img/ico-mbic.png") left top no-repeat;
  font-family: "NotoKR-Medium Medium";
}

#ch-home {
  margin-left: 11px;
  margin-bottom: 5px;
  padding-left: 22px;
  color: #ced4da;
  font-size: 17px;
  background: url("../img/ch_home.png") no-repeat left center;
  font-family: "NotoKR-Medium Medium";
  text-decoration: none;
}

#ch-home:hover {
  text-decoration: underline;
}

#ch-vod {
  margin-left: 11px;
  padding-left: 22px;
  color: #ced4da;
  font-size: 17px;
  background: url("../img/ch_vod.png") no-repeat left center;
  font-family: "NotoKR-Medium Medium";
  text-decoration: none;
}

#ch-vod:hover {
  text-decoration: underline;
}

#vodInfo-Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#vodTitle {
  flex: 1;
  display: inline;
  padding: 15px 0 35px;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  width: 900px;
  font-family: "NotoKR-Medium Medium";
  font-weight: 400;
  letter-spacing: -0.075em;
}

#vodTime {
  font-size: 20px;
  font-family: "NotoKR-DemiLight DemiLight";
  color: #bababa;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  letter-spacing: -1px;
}

#vodInfo-social {
  display: inline;
}

#liveTalk {
  margin-left: 11px;
  border: 1px solid #323232;
  float: left;
}

#liveTalkButton {
  width: 196px;
  height: 72px;
  text-indent: -9999px;
  background: url("../img/ico-livetalk.png") no-repeat center center;
}

#shareSNS {
  margin-left: 11px;
  border: 1px solid #323232;
  float: left;
}

#shareSNSButton {
  width: 68px;
  height: 72px;
  text-indent: -9999px;
  background: url("../img/btn-share.png") right center no-repeat;
}
